.head-table {
    width: 100%;
    margin: 10px 0;
    align-items: center;
}

.head-table tr {
    width: 50%;
    align-items: center;
}

.head-table td {
    width: 20%;
    align-items: center;
}

.head-table td img {
    width: 10%;
    align-items: center;
}

.head-table h2 {
    font-size: 30px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
    font-size: 12px;
}
/* input {
    text-transform: uppercase;
} */